*{
  --color-principal:#584738;
  --color-secondary:#4c583e;
  --color-terciary:#B59E7D;
  --color-fourth:#ebd5b6;
  --color-fifth:#959581;
  --color-sixth:#f1eada;
  --color-input:rgb(82, 58, 11);
  --color-input2:#745c3d;
  --color-a:#745e16;
}
body{
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--color-sixth);
}
header{
  height: 13vh;
}
.CardIS a{
  color: var(--color-a);
}
.TextSecLOGIN a:hover{
  background-color: var(--color-terciary);
  color: var(--color-fourth);
  border-radius: 0.3em;
  
}
.ForgivePassword a:hover{
  background-color:var(--color-fifth);
  color: var(--color-sixth);
  padding: 0.3em;
  border-radius: 1em;
}
main{
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center; 
}
main{
  background-image: url(../Assets/Img/Fondo-login-5.jpg);
  /* object-fit: cover; */
  background-position: left;
  background-repeat:no-repeat;
  background-size: 100vw 100vh ;

}
.CardIS{
  
  background-color: var(--color-fourth);
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  
}
#usuario, #contraseña{
  padding: 0.2em;
  border-radius: 0.5em;
  border: 0.15em solid var(--color-input);
}
#recuerdame:hover{
  cursor: pointer;
}
.BotonL{
  background-color: var(--color-terciary);
  padding: 0.2em;
  border-radius: 0.5em;
  border:0.1em solid var(--color-principal);
}
.BotonL:hover{
  background-color: var(--color-principal);
  color: var(--color-fourth);
}
.BTNgoogle{
  width: 100%;
  position: relative;
}
@media (min-width:100px) and (max-width:320px){
  main{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .CardIS{
    width: 80%;
  }
  .TitleLOGIN{
    font-size: 1em;
  }
  .TextSecLOGIN{
    font-size: 0.7em;
  }
  .FormInicioSesion form{
    text-align: start;
  }
  .ForgivePassword{
    width: 100%;
  }
  .TextCard{
    font-size: 0.9em;
  }
  #usuario,#contraseña{
    width: 100%;
    padding: 0.09em;
    border-radius: 0.5em;
    border: 0.1em solid var(--color-input);
    font-size: 0.8em;
  }
  .SectorBTN{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .BotonL{
    width: 90%;
    padding: 0.1em;
    border-radius: 0.5em;
    border:0.1em solid var(--color-principal);
    font-size: 0.7em;
  }
  .logoG{
    position: absolute;
    width: 0.9em;
    height: 0.9em;
    left: 48px;
    top: 7px;
  }
}

@media  screen and (min-width:425px), screen and (orientation: landscape) {
  main{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .CardIS{
    width: 80%;
  }
  .TitleLOGIN{
    font-size: 1em;
  }
  .TextSecLOGIN{
    font-size: 0.7em;
  }
  .FormInicioSesion form{
    text-align: start;
  }
  .ForgivePassword{
    margin-top: 1em;
    width: 100%;
  }
  .TextCard{
    font-size: 1em;
  }
  #usuario,#contraseña{
    width: 100%;
    padding: 0.15em;
    border-radius: 0.5em;
    border: 0.12em solid var(--color-input);
    font-size: 0.8em;
  }
  .SectorBTN{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .BotonL{
    width: 90%;
    padding: 0.1em;
    border-radius: 0.5em;
    border:0.1em solid var(--color-principal);
    font-size: 0.8em;
  }
  .logoG{
    position: absolute;
    width: 1.18em;
    height: 1.18em;
    left: 75px;
    top: 4px;
  }
}

@media screen and (min-width:768px), screen and (orientation: landscape) {
  main{
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center; 
}
  body main .CardIS{
    width: 50%;
  }
  main .CardIS .TitleLOGIN{
    font-size: 1.5em;
  }
  .CardIS .TextSecLOGIN{
    font-size: 0.8em;
  }
  .FormInicioSesion .TextCard{
    font-size: 1em;
  }
  .CardIS .FormInicioSesion #usuario{
    font-size: 0.9em;
  }
  .FormInicioSesion #contraseña{
    font-size: 0.9em;
  }
  .SectorBTN{
    width: 100%;
    display: flex;
    align-items: center;
  }  
  .BTNgoogle{
    width:60%;
  }
  .SectorBTN .BotonL{
    width: 60%;
    padding: 0.3em;
    font-weight: 400;
    font-size: 0.8em;
  }
  .logoG{
    position: absolute;
    left: 30px;
    top: 5px;
  }
}
@media screen and (min-width:1024px), screen and (orientation: landscape) {
  main{
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center; 
}
  main .CardIS{
    width: 50%;
  }
  .CardIS .TitleLOGIN{
    font-size: 1.8em;
  }
  .TextSecLOGIN{
    font-size: 1.1em;
  }
  .TextCard{
    font-size: 1.3em;
  }
  #usuario, #contraseña{
    font-size: 1.2em;
  }
  .SectorBTN{
    width: 100%;
    display: flex;
    align-items: center;
  }  
  .BTNgoogle{
    width: 300px;
  }
  .BotonL{
    width: 60%;
    padding: 0.3em;
    font-weight: 400;
  }
  .logoG{
    position: absolute;
    left: 50px;
  }
}

@media screen and (min-width:1440px), screen and (orientation: landscape){
  body{
    width: 100vw;
  }
  main{
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center; 
}
  body main .CardIS{
    width: 50%;
    
  }
  main .CardIS .TitleLOGIN{
    font-size: 2.1em;
  }
  main .CardIS .TextSecLOGIN{
    font-size: 1.3em;
  }
  main .FormInicioSesion .TextCard{
    font-size: 1.5em;
  }
  .CardIS .FormInicioSesion #usuario{
    font-size: 1.4em;
    width: 90%;
  }
  .CardIS .FormInicioSesion #contraseña{
    font-size: 1.4em;
    width: 90%;
  }
  .CardIS .SectorBTN{
    width: 100%;
    display: flex;
    align-items: center;
  }  
  .CardIS .SectorBTN .BTNgoogle{
    width: 350px;
  }
  .CardIS .SectorBTN .BTNgoogle .BotonL{
    padding: 0.3em;
    font-weight: 400;
    font-size: 1.2em;
  }
  main .CardIS .SectorBTN .BTNgoogle .logoG{
    position: absolute;
    width: 2em;
    height: 2em;
    left: 60px;
    
  }
}
@media screen and (min-width:2560px), screen and (orientation: landscape){
  main{
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center; 
}
  body main .CardIS{
    width: 30%;
    height: auto;
  }
  main .CardIS .TitleLOGIN{
    font-size: 1em;
  }
  main .CardIS .TextSecLOGIN{
    font-size: 1em;
  }
  .CardIS .FormInicioSesion .TextCard{
    font-size: 1em;
  }
  .CardIS .FormInicioSesion #usuario{
    font-size: 1em;
    width: 90%;
  }
  .CardIS .FormInicioSesion #contraseña{
    font-size: 1em;
    width: 90%;
  }
  main .CardIS .SectorBTN{
    width: 100%;
    height: auto;
    display: flex;
  }  
  .CardIS .SectorBTN .BTNgoogle{
    width: 350px;
  }
  .CardIS .SectorBTN .BTNgoogle .BotonL{
    font-size:1em ;
    padding: 0.3em;
    font-weight: 400;
  }
  main .CardIS .SectorBTN .BTNgoogle .logoG{
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    left: 85px;
    top: 7px;
  }
}
