*{
  --color-principal:#584738;
  --color-secondary:#4c583e;
  --color-terciary:#B59E7D;
  --color-fourth:#ebd5b6;
  --color-fifth:#959581;
  --color-sixth:#f1eada;
  --color-seventh: #eec58c;
  --color-input:rgb(82, 58, 11);
  --color-input2:#745c3d;
  --color-a:#745e16;
}
header{
  margin: 0;
  padding: 0;
  
}
.navbar-nav, .me-auto, .mb-2, .mb-lg-0{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
nav,
.navbar, 
.navbar-expand-lg,
.bg-body-tertiary,
.container-fluid {
  background-color: var(--color-principal);
  margin: 0;
  padding: 0;
}
.nav-item,
.navbar-brand,
.nav-link,
.active,
.nav-item,
.navtext {
  color: var(--color-sixth);
}
.nav-item:hover .navbar-brand:hover,
.nav-link:hover,
.active:hover,
.nav-item:hover,
.navtext:hover{
  color: var(--color-seventh);
}
.CardIS a{
  color: var(--color-a);
}
.TextSecLOGIN a:hover{
  background-color: var(--color-a);
  color: var(--color-sixth);
  border-radius: 0.2em;
}
.ForgivePassword a:hover{
  background-color:var(--color-fifth);
  color: var(--color-sixth);
  padding: 0.3em;
  border-radius: 1em;
}
main{
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center; 
}
main{
  background-image: url(../Assets/Img/Fondo-login-4.jpg);
  background-position: left;
  background-repeat:no-repeat;
  background-size: 100% 100% ;

}
form{
  width: 100%;
}
.CardIS{
  background-color: var(--color-fourth);
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
  width: 30%;
}
.TextCard{
  font-weight: 600;
}
#usuario, #contraseña{
  padding: 0.2em;
  border-radius: 0.5em;
  border: 0.15em solid var(--color-input);
  width: 100%;
}
#recuerdame:hover{
  cursor: pointer;
}
.ForgivePassword{
  width: 100%;
  margin-top: 1em;
  text-align: center;
}
.FormInicioSesion{
  width: 100%;
  display: flex;
  text-align: start;
}
.CardIS .SectorBTN{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.BotonL{
  background-color: var(--color-terciary);
  padding: 0.2em;
  border-radius: 0.5em;
  border:0.1em solid var(--color-principal);
}
.BotonL:hover{
  background-color: var(--color-principal);
  color: var(--color-fourth);
}
.BTNgoogle{
  width: 100%;
  position: relative;
}
.logoG{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3px;
  left: 35px;
}
/* FOOTER */
footer{
  color: var(--color-sixth);
}
.Columna1 .backup{
  color: var(--color-seventh);
}
.Columna2 .TextFooter a{
 color: var(--color-seventh);
}
.Columna3 .TextFooter a{
 color: var(--color-seventh);
}

@media screen and (min-width:425px){
  main{
    width: 100%;
  }
  .CardIS{
    width: 100%;
  }
  .SectorBTN{
    width: 100%;
  }
  .SectorBTN .BotonL{
    width: 100%;
  }
  footer{
    width: 100%;
  }
  .Columna1{
    width: 100%;
  }
  .Seccion2Col1{
    width: 50%;
  }
  .Seccion2Col1 .SectorImgFooter{
    width: 10%;
    display: flex;
    justify-content: space-around;
  }
}
