.mainRegistro{
  width: 100vw;
  height: auto;
  padding: 1em;
  display:flex ;
  flex-wrap: wrap;

}
.CardRegistro{
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  justify-content: center;
  
}
.ContainerRegistro h4{
  width: 100%;
  text-align: center;
}
.mainRegistro h2{
  width: 100%;
  height: 13vh;
  margin: 0;
  text-align: center;
  color: var(--color-principal);

}
.ContainerRegistro{
  width: auto;
  padding: 1em;
  margin-top: 0;
  background-color: var(--color-terciary);
  border-radius: 1em;
  
}
#Nombre, #Apellido, #newuser, #E-mail, #domicilio, #selectciudad, #cp, #contraseña2{
  padding: 0.2em;
  border-radius: 0.5em;
  border: 0.15em solid var(--color-input2);
  margin-bottom: 0.4em;
  width: 80%;
}
.TelefonoF{
  width: 100%;
  display: flex;
}
#firsttelefono{
  padding: 0.2em;
  border-radius: 0.5em;
  border: 0.15em solid var(--color-input2);
  margin-bottom: 0.4em;
  width: 10%;
}

#telefono{
  padding: 0.2em;
  border-radius: 0.5em;
  border: 0.15em solid var(--color-input2);
  margin-bottom: 0.4em;
  width: 70%;
}
.TextReg{
  font-size:large ;
  font-weight: 500;
}
.BotonR{
  margin-top: 1em;
  background-color: var(--color-fourth);
  padding: 0.2em;
  border-radius: 0.5em;
  border:0.1em solid var(--color-principal);
}
.BotonR:hover{
  margin-top: 1em;
  background-color: var(--color-principal);
  color: var(--color-fourth);
  padding: 0.2em;
  border-radius: 0.5em;
  border:0.1em solid var(--color-principal);
}