*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principal:#584738;
  --color-secondary:#4c583e;
  --color-terciary:#B59E7D;
  --color-fourth:#959581;
  --color-fifth:#f1eada;
}

.Cajaflexible{
    display: flex;
    justify-content:space-around;

   
}
.Flexreseña{
    justify-content: center;
    align-items:first baseline;
    
}

#Titulotesti{
font-style:oblique;
font-family:fantasy
}
 

    

.bi-star-fill{
    color: yellow;
}

/* .bg-transparent, .border-success{
    border-color:antiquewhite
} */
.card-title{
font-style: oblique;

}

.Testimonio{
    font-style: oblique;
}