*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principal:#584738;
  --color-secondary:#4c583e;
  --color-terciary:#B59E7D;
  --color-fourth:#959581;
  --color-fifth:#f1eada;
}

/* Header/Footer: modificaciones para que todos queden iguales */
.TextEmerLogin {
  display: none;
  position: absolute;
  list-style: none;
  top: 9.1vh;
  right:9vh;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background-color:#f1eada;
}

.Cajaflexible{
    display: flex;
    justify-content: space-around;
}

.Flexreseña{
    justify-content: center;
    align-items:first baseline; 
    color: #f1eada; 
}

#Titulotesti{
font-style:oblique;/*  */
font-family:fantasy
}
 
.bi-star-fill{
    color: yellow;
}


.Testimonio{
    font-style: oblique;
}
footer .card-title{
  font-style:normal;
  color: var(--color-fifth);
}
.card-title{
font-style: oblique;
color: black;
}

.col-md-8{
  background-color: #584738;
}

.card-text{
  color: #f1eada;
}
