* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-principal: #584738;
  --color-secondary: #4c583e;
  --color-terciary: #b59e7d;
  --color-fourth: #959581;
  --color-fifth: #f1eada;
   --color-sixth: #eec58c;
   --color-seventh: #aa6d3b;
}

body {
  background-color: var(--color-fifth);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  margin: 0px 60px;
  border-radius: 10px;
}

/* NAV */
.paginaActiva {
  background-color: var(--color-terciary);
  color: var(--color-principal);
}

.paginaActiva:hover{
  color: var(--color-fifth);
}

.Logo {
  width: 4em;
  margin: 3px 20px;
}

/* .navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
} */

.cajaflexible{
  /* background-color: yellowgreen; */
  display: flex;
  padding: 28px;
}

.bg-body-tertiary,
.container-fluid {
  background-color: var(--color-principal);
  padding: 0px;
}

.navtext {
  color: var(--color-fifth);
}

.navtext:hover{
  background-color: #ffffff4f;
  color: #342d27;
  transition: 400ms;
}

.btn {
  background-color: var(--color-terciary);
  color: var(--color-fifth);
  border: none;
}

.btn:hover {
  background-color: var(--color-seventh);
  color: var(--color-fifth);
}

.navbar .dropdown-toggle::after {
  display: none !important;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* LOGO DE LOGIN */
svg {
  color: var(--color-fifth);
  width: 2.3em;
}

.listyle{
  list-style: none;
}

/* .TextEmerLogin {
  display: none;
  position: absolute;
  top: 10vh;
  right:5vh;
} */

/* .TextEmerLogin{
  width: 6em;
  font-size:small;
  text-align: center;
  border-radius: 20px;
  background-color: var(--color-sixth);

  color: var(--color-secondary);
} */

/* MAIN */

article {
  border-bottom: 1px solid var(--color-principal);
}

h2,
h4,
p {
  margin: 20px 30px;
  text-align: center;
}

.img {
  width: 20rem;
  border-radius: 3rem;
}

.contenedor {
  margin: 20px;
}

.flex {
  display: flex;
}

/* FOOTER */
footer{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--color-principal);
}
.row, .row-cols-1, .row-cols-sm-2, .row-cols-md-5, .py-5, .border-top{
  width: 100%;
  margin: 0;
}
.card{
  width: auto;
  background-color: var(--color-principal);
  color: var(--color-fifth);
  /* border-style: none; */
}
.bi-facebook, .bi-instagram, .bi-tiktok, .bi-twitter-x{
  width: 50px;
  height: 30px;
  color: var(--color-sixth);
}
.nav, .justify-content-center, .border-bottom, .pb-3, .mb-3{
  width: auto;
  height: auto;
  color: var(--color-fifth);
}
.text-center, .text-body-secondary{
  width: auto;
  
}
.mb-2 .nav-link{
  color: var(--color-fifth);
}
#dr{
  margin-top: 4em;
  
}
/* footer{
  padding: 1em;
  background-color: var(--color-principal);
  color: var(--color-fifth);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer a{
  color: var(--color-sixth);
}
footer a::after{
  color: var(--color-sixth);
}
footer a:visited{
  color: var(--color-sixth);
}
.Columna1{
  width: 30%;
  background-color: green;
  display: flex;
  flex-wrap: wrap;

}
.Columna1 h4{
  margin: 0;
  
}
.LogoFooter{
  height: 11em;
  width: 10em;
}
.Seccion2Col1{
  width: 55%;
  
  padding-left: 0.5em;
 
}
.Seccion2Col1 .RedesF{
  width: 100%;
  background-color: blueviolet;
  height: auto;
  
  
}
.ImgRedesF{
  width: 35px;
  height: 35px;
  margin: 0.3em;
}
.backup{
  width: 100%;
  margin-top: 1.5em;
  background-color: red;
}
.Columna2{
  width: 30%;
  margin: 0;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  
}
.ImgMPF{
 
  width: 35px;
  height: 25px;
}
.Columna3{
  width: 35%;
  background-color: blue;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:425px), screen and (max-width:767px){
  body{
    width:100%;
  }
  footer{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .LogoFooter{
    width: 70px;
    height: 70px;
  }
  .Columna1{
    width: 100%;
  }
  .Columna1 h4{
    font-size: 1em;
  }
  .backup{
    display: none;
  }
  .RedesF{
    display: flex;
  }
  .ImgRedesF{
    width: 20px;
    height: 20px;
    margin: 0;
  }
  .Columna2{
    width: 100%;
  }
  .Columna3{
    width: 100%;
  }
}@media screen and (min-width:768px), screen and (orientation: landscape){
  body{
    width:100%;
  }
  
  
}
@media screen and (min-width:1022), screen and (orientation: landscape){
 
}
@media screen and (min-width:1438), screen and (orientation: landscape){
  body{
    width: 100%;
  }
  
 
}
@media screen and (min-width:2558), screen and (orientation: landscape){
  body{
    width: 100%;
  }
  
 
} */
