* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-principal: #584738;
  --color-secondary: #4c583e;
  --color-terciary: #b59e7d;
  --color-fourth: #959581;
  --color-fifth: #f1eada;
   --color-sixth: #eec58c;
   --color-seventh: #aa6d3b;
}

body {
  background-color: var(--color-fifth);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  margin: 0px 60px;
  border-radius: 10px;
}

/* NAV */
.cajaflexible{
  background-color: var(--color-fourth);
  display: flex;
  align-items: center;
  padding: 10px 40px;
}

.bg-body-tertiary,
.container-fluid {
  padding: 0px;
}

.Logo {
  width: 4em;
}

.paginaActiva {
  background-color: var(--color-principal);
}

.navtext{
  color: var(--color-fifth);
}

.navtext:hover{
  background-color: #ffffff4f;
  color: #342d27;
  cursor: pointer;
  transition: 400ms;
}

.btn {
  background-color: var(--color-principal);
  color: var(--color-fifth);
  border: none;
}

.btn:hover {
  background-color: var(--color-terciary) ;
  color: var(--color-fifth);
}

/* LOGO LOGIN */
svg {
  color: var(--color-fifth);
  width: 2.3em;
}

.listyle{
  list-style: none;
}


/* MAIN */

article {
  border-bottom: 1px solid var(--color-principal);
}

h2,
h4,
p {
  margin: 20px 30px;
  text-align: center;
}

.img {
  width: 20rem;
  border-radius: 3rem;
}

.contenedor {
  margin: 20px;
}

.flex {
  display: flex;
}

/* FOOTER */
footer{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--color-principal);
}
.img-fluid, .rounded-start{
    width: 300px;
    height: 250px;
  }
.row, .row-cols-1, .row-cols-sm-2, .row-cols-md-5, .py-5, .border-top{
  width: auto;
  margin: 0;
}
.card{
  width: auto;
  background-color: var(--color-principal);
  color: var(--color-fifth);
  border-style: none;
}
.bi-facebook, .bi-instagram, .bi-tiktok, .bi-twitter-x{
  width: 50px;
  height: 30px;
  color: var(--color-sixth);
}
.nav, .justify-content-center, .border-bottom, .pb-3, .mb-3{
  width: auto;
  height: auto;
  color: var(--color-fifth);
}
.text-center, .text-body-secondary{
  width: auto;
  
}
.mb-2 .nav-link{
  color: var(--color-fifth);
}
#dr{
  margin-top: 4em;
  
}
.columna2, .columna3{
  width: auto;
}
.textofootercol ul li p{
  margin-left:0 ;
  margin-bottom: -1em;
  text-align: start;
  color: var(--color-sixth);
}
/* @media screen and (max-width:425px){
  footer .card{
    width: 100%;
    text-align: center;
    
  }
  .card h5{
    font-size: 1em;
  }
  .col-md-4 .img-fluid, .col-md-4 .rounded-start{
    width: 120px;
    height: 120px;
  }
  .bi-facebook, .bi-instagram, .bi-tiktok, .bi-twitter-x{
    width: 20px;
    height: 20px;
  }
  .columna2{
    text-align: center;
    font-size:0.8em ;
  }
  .columna2 h5{
    font-size: 1em;
  }
  .columna3{
    text-align: center;
    font-size:0.8em ;
  }
  .columna3 h5{
    font-size: 1em;
  }
  .textofootercol ul li p{
    text-align: center;
  }
  .mediopago, .bi-paypal{
    width: 20px;
  }
  
}
@media screen and (min-width:768px){
  .row, .row-cols-1, .row-cols-sm-2, .row-cols-md-5, .py-5, .py-3, .border-top{
    margin-top: 0;
    display: flex;
  }
  footer .card{
    width: 50%;
    text-align: center;
    z-index: 1;
  }
  .card h5{
    font-size: 1em;
  }
  .col-md-4 .img-fluid, .col-md-4 .rounded-start{
    width: 120px;
    height: 120px;
  }
  .bi-facebook, .bi-instagram, .bi-tiktok, .bi-twitter-x{
    width: 30px;
    height: 20px;
  }
  .columna2{
    text-align: center;
    font-size:0.8em ;
    width: 50%;
  }
  .columna2 h5{
    font-size: 1em;
  }
  .columna3{
    
    text-align: center;
    width: 50%;
    margin-top: -24em;
    font-size:0.8em ;
    z-index: 2;
  }
  .columna3 h5{
    font-size: 1em;
  }
  .textofootercol ul li p{
    text-align: center;
  }
  .mediopago, .bi-paypal{
    width: 20px;
  }
  #dr{
    margin-top: 18em;
    margin-right:160px;
  }
  #sc{
    margin-right:150px;
  }
}

@media screen and (min-width:1024px){
  footer .card{
    width: 100%;
    text-align: center;
    
  }
  .card h5{
    font-size: 1.5em;
  }
  .col-md-4 .img-fluid, .col-md-4 .rounded-start{
    width: 120px;
    height: 120px;
  }
  .bi-facebook, .bi-instagram, .bi-tiktok, .bi-twitter-x{
    width: 20px;
    height: 20px;
  }
  .columna2{
    text-align: center;
    font-size:0.8em ;
  }
  .columna2 h5{
    font-size: 1em;
  }
  .columna3{
    text-align: center;
    font-size:0.8em ;
  }
  .columna3 h5{
    font-size: 1em;
  }
  .textofootercol ul li p{
    text-align: center;
  }
  .mediopago, .bi-paypal{
    width: 20px;
  }
  
}
@media screen and (min-width:1440px){
  footer{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--color-principal);
}
.img-fluid, .rounded-start{
    width: 300px;
    height: 250px;
  }
.row, .row-cols-1, .row-cols-sm-2, .row-cols-md-5, .py-5, .border-top{
  width: auto;
  margin: 0;
}
.card{
  width: auto;
  background-color: var(--color-principal);
  color: var(--color-fifth);
  border-style: none;
  margin: 0;
}
.bi-facebook, .bi-instagram, .bi-tiktok, .bi-twitter-x{
  width: 50px;
  height: 30px;
  color: var(--color-sixth);
}
.nav, .justify-content-center, .border-bottom, .pb-3, .mb-3{
  width: auto;
  height: auto;
  margin: 0;
  color: var(--color-fifth);
}
.text-center, .text-body-secondary{
  width: auto;
  
}
.columna2{
  width: auto;
}
.columna3{
  width: auto;
}
} */
